{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
tap "terrastruct/tap"
brew "asdf"
brew "chezmoi"
brew "d2"
brew "direnv"
brew "dust"
brew "eza"
brew "fd"
brew "fish"
brew "fzf"
brew "gh"
brew "git-extras"
brew "grafana-alloy"
brew "graphviz"
brew "helix"
brew "helm"
brew "hub"
brew "lsd"
brew "luarocks"
brew "mermaid-cli"
brew "neovim"
brew "reattach-to-user-namespace"
brew "ripgrep"
brew "rustup"
brew "shellcheck"
brew "tfenv"
brew "tmux"
brew "uptimed", restart_service: :changed
brew "watchman"
brew "wget"
brew "terrastruct/tap/tala"
cask "1password"
cask "1password-cli"
cask "bartender"
cask "fantastical"
cask "github"
cask "iterm2"
cask "launchbar"
cask "little-snitch"
cask "orbstack"
cask "rectangle"
cask "shottr"
cask "signal"
cask "slack"
cask "trunk-io"
cask "typeface"
cask "yubico-authenticator"
vscode "esbenp.prettier-vscode"
vscode "georgeshaidar.vsc-benthos"
vscode "github.vscode-pull-request-github"
vscode "golang.go"
vscode "mintchipleaf.fairyfloss"
vscode "ms-azuretools.vscode-containers"
vscode "ms-azuretools.vscode-docker"
vscode "ms-vscode-remote.remote-containers"
vscode "rust-lang.rust-analyzer"
vscode "vscodevim.vim"
EOF
{{ end -}}
